<div class="row">
    <nav class="navbar navbar-expand-lg">
        <div class="container-fluid">
          <a class="navbar-brand" routerLink="home">JPcomponentes</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
              <a class="nav-link active" aria-current="home" routerLink="home" routerLinkActive="fw-bold">Home</a>
              <a class="nav-link" routerLink="search" routerLinkActive="fw-bold">Buscador</a>
              <a class="nav-link" routerLink="cart" routerLinkActive="fw-bold">Carrito</a>
            </div>
          </div>
        </div>
    </nav>
</div>